/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0088cc;
  text-decoration: underline;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1;
  left: 0;
  right: 0;
  top: 0;
  background: #F6F6F6;
  border-bottom: 1px solid #F1F1F1;
}
.navbar a {
  color: #737373;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar:hover a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar:focus a:focus {
  color: #fff;
  text-decoration: none;
}
.navbar .internal {
  max-width: 645px;
  margin-left: auto;
  margin-right: auto;
}
.navbar li {
  margin-top: 0.3em;
  float: left;
  padding-right: 0.6em;
  padding-left: 0.3em;
  list-style-type: none;
}
.home .gallery-container {
  display: flex;
  flex-direction: column;
}
.screen {
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1;
}
.screen {
  width: 100%;
  position: absolute;
  top: 2.7em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  background: #f7f7f9;
}
@media only screen and (max-width: 500px) {
  .screen {
    top: 4em;
  }
}
.column {
  display: flex;
  flex-direction: column;
  min-height: 0px;
}
/* scrolling feeds, threads */
.scroll-y {
  overflow-y: auto;
  min-height: 0px;
}
.scroll-x {
  overflow-x: auto;
  min-width: 0px;
}
.scroller {
  width: 100%;
  flex: 1;
}
.scroller__content {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.scroller__wrapper {
  width: 100%;
}
/* Messages */
.message,
.message > * {
  animation: fadein 0.5s;
}
.message,
.message-confirm {
  display: block;
  position: relative;
  flex-basis: 0;
  border: 1px solid #eee;
  max-width: 100%;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background: white;
  border-radius: 4px;
}
.message_content {
  margin-top: 5px;
  padding-top: 3px;
}
.message_content > span,
.message_content > div {
  width: 100%;
}
.message_content--mini div > span {
  display: inline-block;
}
.message_meta {
  margin-left: auto;
}
.edited {
  float: right;
}
.message .innercontent {
  width: 100%;
  display: none;
}
.message .innercontent:nth-last-child(2) {
  display: block;
}
.message_meta > * {
  margin-left: 0.5ex;
}
.message_actions {
  margin-left: auto;
  margin-top: auto;
}
.message img {
  max-width: 98%;
  border: 1px solid #ccc;
  padding: 4px;
}
.message > .title > .avatar {
  margin-left: 0;
}
.message_content {
  padding: 0.5ex;
}
.actions > :not(:last-child) {
  padding-right: 5px;
}
.emoji {
  height: 14px;
  width: 14px;
  vertical-align: top;
  border: none;
  padding: 0;
}
img.emoji {
  border: none;
  padding: none;
}
/* lightbox - used in message-confirm */
.lightbox {
  margin-top: 5em;
  margin-bottom: 3em;
  width: 90%;
  max-width: 600px;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}
.lightbox .message-confirm {
  box-shadow: 0px 0px 1500px 1500px rgba(0, 0, 0, 0.1);
}
